<section>
    <h1>Pipes<br>
        &<br>
        Validators</h1>
</section>
<section>
    <h2>Pipes</h2>
    <pre><code data-trim class="html">
        "template variable or text" | pipe:arguments
    </code></pre>
</section>
<section>
    <h2>Pure Pipes</h2>
    <p>Pure Pipe = the transform() method is invoked only when its input arguments change</p>
    <pre><code data-trim class="typescript">
        @Pipe({
            name: 'pipeImpure',
            pure: false // if missing pipe is pure by default
        })
    </code></pre>
    <p>If pipe has internal state, set pure to false.<br>
        -> pipe is invoked on each change-detection cycle, even if the arguments have not changed.</p>
</section>
<section>
    <h2>Default Pipes</h2>
    <ul>
        <li>async</li>
        <li>json</li>
        <li>currency</li>
        <li>date </li>
        <li>decimal</li>
        <li>lowercase</li>
        <li>uppercase</li>
        <li>titlecase</li>
        <li>percent</li>
    </ul>
    <p class="fragment">NEVER use pipes for filtering and sorting!</p>
</section>
<section>
    <h2>Default Pipe cont.</h2>
    <ul>
        <li>I18n</li>
        <pre><code data-trim class="typescript" style="font-size: 14px">
        @Component(
            {selector: 'i18n-select-pipe', template: `<div>{{gender | i18nSelect: inviteMap}} </div>`})
        export class I18nSelectPipeComponent {
        gender: string = 'male';
        inviteMap: any = {'male': 'Invite him.', 'female': 'Invite her.', 'other': 'Invite them.'};
        }
     </code></pre>
        <li>keyvalue</li>
        <p>Transforms Object or Map into an array of key value pairs.</p>
        <pre><code data-trim class="html">
            <div *ngFor="let item of object | keyvalue">
                {{item.key}}:{{item.value}}
            </div>
            </code></pre>
        <li>slice</li>
        <pre><code data-trim class="html">
            <li *ngFor="let i of collection | slice:1:3">{{i}}</li>
        </code></pre>
    </ul>
</section>
<section>
    <h2>Default Validators</h2>
    <ul>
        <li> min (numbers)</li>
        <li> max (numbers)</li>
        <li> required </li>
        <li> requiredTrue (checkboxes)</li>
        <li> email </li>
        <li> pattern</li>
        <li> minLength </li>
        <li> maxLength </li>
        <li> nullValidator, compose, composeAsync</li>
    </ul>
</section>
<section>
    <h2>Custom Pipes</h2>
    <p>They are Directives</p>
</section>
<section>
    <h2>Custom Validators</h2>
    <p>They are Directives</p>
    <p>ValidatorFn</p>
    <p>Validator and Async Validator</p>
    <p>Add to validator injector</p>
    <pre><code data-trim>
        providers: [
            {
              provide: NG_VALIDATORS,
              useExisting: SpecialAdminValidatorDirective,
              multi: true
            }
        ]
    </code></pre>
</section>