<section>
    <h2>Lets add some content...</h2>
    <ul>
        <li>Barrel TS</li>
        <li>RxJS @angular</li>
        <li>Dependency Injection</li>
        <li>Routing parameters</li>
        <li>Template Binding and Rendering</li>
        <li>Services</li>
    </ul>
</section>
<section>
    <h2>Barrel</h2>
    <ul>
        <li>index.ts file exports folder content</li>
        <li>import paths are shorter and easier</li>
        <li>imports from one module appear in one line</li>
        <li>recommended for the core and shared module</li>
    </ul>
</section>
<section>
    <h2>RxJS</h2>
    <ul>
        <li>Observables are everywhere in Angular</li>
        <li>Are useful to handle mock data or local state of a service.</li>
        <li>Subject, BehaviorSubject, ReplaySubject, AsyncSubject</li>
    </ul>
    <aside class="notes">
        Subject are special type of Observables that allow values to be multicasted to many observers like EventEmitters
    </aside>
</section>
<section>
    <h2>RxJS: Subject</h2>
    <pre><code class="typescript" data-trim data-noescape>
        const subject = new Rx.Subject();

        subject.subscribe({
            next: (v) => console.log('observerA: ' + v)
        });
        subject.subscribe({
            next: (v) => console.log('observerB: ' + v)
        });

        subject.next(1);
        subject.next(2);
    </code></pre>
    <pre><code class="terminal" data-trim data-noescape>
        observerA: 1
        observerB: 1
        observerA: 2
        observerB: 2
    </code></pre>
    <aside class="notes">
        <ul>
            <li>BehaviorSubject: like Subject with start value</li>
            <li>ReplaySubject: like BehaviorSubject but records multiple values from the observable execution and replays them to new subscribers</li>
            <li>AsyncSubject: only the last value of the Observable execution is sent to its observers, and only when the execution completes</li>
        </ul>
    </aside>
</section>
<section>
    <h2>Dependency Injection</h2>
    <p>Configure injectors with providers by setting a...</p>
    <ul>
        <li>... <code>@Injectable()</code> decorator for the service itself.</li>
        <li>... <code>@NgModule()</code> decorator for an NgModule.</li>
        <li>... <code>@Component()</code> decorator for a component.</li>
    </ul>
    <p>
        Injectors are inherited<br>
        -> if a given injector can't resolve a dependency, it asks the parent injector to resolve it
    </p>
    <p><a target="_blank" href="https://angular.io/guide/dependency-injection-providers">DI Providers</a>, <a target="_blank" href="https://angular.io/guide/hierarchical-dependency-injection">DI Hierarchy</a></p>
    <aside class="notes">
        <ul>
            <li>Used in the design of Angular applications to increase their efficiency and modularity</li>
            <li>Dependencies are services or objects that a class needs to perform its function</li>
        </ul>
    </aside>
</section>
<!-- <section>
    <h2>What we can do</h2>
    <pre><code data-trim data-noescape class="typeScript">
        /* in ngModule(): class provider */
        [{ provide: Logger, useClass: Logger }]
    </code></pre>
    <pre><code data-trim data-noescape class="typeScript">
        /* for defining an app configuration */
        import { InjectionToken } from '@angular/core';
        export const APP_CONFIG =
            new InjectionToken&lt;AppConfig>('app.config');
    </code></pre>
    <aside class="notes">
        <ul>
            <li>Creates a token that can be used in a DI Provider.</li>
        </ul>
    </aside>
</section> -->
<section>
    <h2>Dependency Injection: Parameter Decorators</h2>
    <ul>
        <li>@Optional</li>
        <li>@Self</li>
        <li>@SkipSelf</li>
        <li>@Host</li>
    </ul>
    <pre><code data-trim data-noescape class="typeScript">
        constructor(@Optional() public engine: Engine) {}
    </code></pre>
    <aside class="notes">
        <ul>
            <li>@Optional: marks a dependency as optional: constructor(@Optional() public engine: Engine) {}</li>
            <li>@Self: start dependency resolution from the local injector: constructor(@Self() public dependency: Dependency) {}</li>
            <li>@SkipSelf: start dependency resolution from the parent injector: constructor(@SkipSelf() public dependency: Dependency) { this.dependency = dependency; }</li>
            <li>@Host: retrieve a dependency from any injector until reaching the host element of the current component: constructor(@Host() os: OtherService) {}</li>
        </ul>
    </aside>
</section>
<!-- <section>
    <h2>Dependency Injection: Other</h2>
    <ul>
        <li>forwardRef()</li>
        <li>@HostListener('mouseenter')</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>forwardRef(): creates an indirect reference that Angular can resolve later. Allows to refer to references which are not yet defined.: constructor(@Inject(forwardRef(() => Lock)) lock: Lock) {}</li>
            <li>@HostListener: Binds a CSS event to a host listener and supplies configuration metadata. Angular invokes the supplied handler method when the host element emits the specified event, and updates the bound element with the result. If the handler method returns false, applies preventDefault on the bound element.</li>
        </ul>
    </aside>
</section> -->
<section>
    <h2>Dependency Injection Do's</h2>
    <ul>
        <li>Stop Injector bubbling.</li>
        <li>Check viewProviders instead of providers.</li>
        <li>Use Element Injectors only.</li>
    </ul>
</section>
<section>
    <h2>Dependency Injection</h2>
    <h3>Class Providers</h3>
    <p>Two instances of NewLogger</p>
    <pre><code data-trim data-noescape class="typeScript">
    [ NewLogger,
        { provide: OldLogger, useClass: NewLogger}
    ]
    </code></pre>
    <p>Alias OldLogger with reference to NewLogger</p>
    <pre><code data-trim data-noescape class="typeScript">
    [ NewLogger,
        { provide: OldLogger, useExisting: NewLogger}
    ]
    </code></pre>
    <aside class="notes">
        class provider
    </aside>
</section>
<section>
    <h2>Dependency Injection</h2>
    <h3>Value Providers</h3>
    <p>An object in the shape of the logger service</p>
    <pre><code data-trim data-noescape class="typescript">
    export function SilentLoggerFn() {}

    const silentLogger = {
        logs: ['Logger says "Shhhh!". Provided via "useValue"'],
        log: SilentLoggerFn
    };

    [{ provide: Logger, useValue: silentLogger }]
</code></pre>
</section>
<section>
    <h2>Dependency Injection</h2>
    <h3>Factory Providers</h3>
    <pre><code data-trim class="typescript" style="font-size: 19px;">
    constructor(
        private logger: Logger,
        private isAuthorized: boolean) { }

    let heroServiceFactory = (logger: Logger, userService: UserService) => {
        return new HeroService(logger, userService.user.isAuthorized);
    };

    export let heroServiceProvider = {
        provide: HeroService,
        useFactory: heroServiceFactory,
        deps: [Logger, UserService]
    };
    </code></pre>
</section>
<section>
    <h2>Routes with params</h2>
    <pre><code data-trim class="typescript">
        /* in comp.template.html */
        [routerLink]="[{outlets: { secondary: ['safe', safe.id] }  }]
    </code></pre>
    <pre><code data-trim class="typescript">
        /* in comp.component.ts */
        constructor(
            private activatedRoute: ActivatedRoute,
            private service: SafeService
        ) { }
        ...
        this.activatedRoute.paramMap.pipe(
            map((params: ParamMap) => params.get('id'))
        );
    </code></pre>
    <pre><code data-trim class="typescript">
        /* in router configuration */
        {
            path: 'safe/:id',
            component: SafeComponent,
            outlet: 'secondary'
        },
    </code></pre>
</section>
<section>
    <h2>Additional Syntax on the Template</h2>
    <p>Interpolation: <pre><code data-trim class="html"><p>{{ variableFromComponent }}</p></code></pre></p>
    <p>Loop Directive:
        <pre><code data-trim class="html">
            <ul>
                &lt;li *ngFor="let item of items">{{ item.name }}</li>
            </ul>
        </code></pre></p>
    <p>AsyncPipe: <pre><code data-trim class="html"><p>{{ observable | async }}</p></code></pre></p>
</section>
<section>
    <h2>Services</h2>
    <pre><code data-trim class="typescript">
        @Injectable()
        class UsefulService {
        }
        
        @Injectable()
        class NeedsService {
            constructor(public service: UsefulService) {}
        }
    </code></pre>
    <p><a href="https://angular.io/guide/architecture-services" target="_blank">Services Docs</a></p>
</section>
<section>
    <h2>Exercise 6</h2>
</section>
<section>
    <h2>Recap</h2>
    <ul>
        <li class="fragment">How do we tell the browser with angular, that data changes?</li>
        <li class="fragment">What is one way binding?</li>
        <li class="fragment">What is *ngFor used for?</li>
        <li class="fragment">What is DI? How does it work?</li>
        <li class="fragment">...</li>
    </ul>
</section>