<section>
    <h1>Pipes<br>
        &<br>
        Validators</h1>
</section>
<section>
    <h2>Pipes</h2>
    <pre><code data-trim class="html">
        "template variable or text" | pipe:arguments
    </code></pre>
    <p class="fragment">NEVER use pipes for filtering and sorting!</p>
</section>
<section>
    <h2>Pure Pipes</h2>
    <p>Pure Pipe = the transform() method is invoked only when its input arguments change</p>
    <pre><code data-trim class="typescript">
        @Pipe({
            name: 'pipeImpure',
            pure: false // default value true -> pipe is pure by default
        })
    </code></pre>
    <p>If pipe has internal state, set pure to false.<br>
        -> pipe is invoked on each change-detection cycle, even if the arguments have not changed.</p>
</section>
<section>
    <h2>Default Pipes (1)</h2>
    <ul>
        <li>async</li>
        <li>json</li>
        <li>currency</li>
        <li>date </li>
        <li>decimal</li>
        <li>lowercase</li>
        <li>uppercase</li>
        <li>titlecase</li>
        <li>percent</li>
    </ul>
</section>
<section>
    <h2>Default Pipes (2)</h2>
    <ul>
        <li>
            I18n
            <pre><code data-trim class="typescript" style="font-size: 15px">
                @Component(
                    {selector: 'i18n-select-pipe', template: `<div>{{gender | i18nSelect: inviteMap}} </div>`})
                export class I18nSelectPipeComponent {
                gender: string = 'male';
                inviteMap: any = {'male': 'Invite him.', 'female': 'Invite her.', 'other': 'Invite them.'};
                }
            </code></pre>
        </li>
        <li>
            keyvalue: Transforms Object or Map into an array of key value pairs.
            <pre><code data-trim class="html" style="font-size: 15px">
                <div *ngFor="let item of object | keyvalue">
                    {{item.key}}:{{item.value}}
                </div>
            </code></pre>
        </li>
        <li>
            slice
            <pre><code data-trim class="html"  style="font-size: 15px">
                <li *ngFor="let i of collection | slice:1:3">{{i}}</li>
            </code></pre>
        </li>
    </ul>
</section>
<section>
    <h2>Default Validators</h2>
    <ul>
        <li>min (numbers)</li>
        <li>max (numbers)</li>
        <li>required </li>
        <li>requiredTrue (checkboxes)</li>
        <li>email </li>
        <li>pattern</li>
        <li>minLength </li>
        <li>maxLength </li>
        <li>nullValidator</li>
    </ul>
    <p>Compose validators with <code>compose</code> and <code>composeAsync</code></p>
</section>
<section>
    <h2>Custom Pipes</h2>
    <p>They are Directives</p>
    <pre><code data-trim class="typescript">
        @Pipe({
            name: "fileSize"
        })
        export class FileSizePipe implements PipeTransform {
            transform(value: number, args?: any): any {
                /* insert transformation code here */
                return value;
            }
        }
    </code></pre>
</section>
<section>
    <h2>Custom Validators</h2>
    <p>They are Directives</p>
    <p>ValidatorFn</p>
    <p>Validator and Async Validator</p>
    <p>Add to validator injector</p>
    <pre><code data-trim>
        providers: [
            {
              provide: NG_VALIDATORS,
              useExisting: SpecialAdminValidatorDirective,
              multi: true
            }
        ]
    </code></pre>
    <aside class="notes">
        Multiple providers can be associated with a single token in other areas as well. For example, you can register a custom form validator using the built-in NG_VALIDATORS token, and provide multiple instances of a given validator provider by using the multi: true property in the provider object. Angular adds your custom validators to the existing collection.
    </aside>
</section>